.contact-container {
  width: 60%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 80px auto;
}

.contact-circle {
  width: 207px;
  height: 207px;
  margin-left: 25px;
}

.contact-title {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: black;
}

.contact-subtitle {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: black;
  margin: 32px 0px;
}

.contact-button-wrapper {
  display: flex;
  flex-direction: row;
}

@media  (max-width: 850px) {
  .contact-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .contact-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-button-wrapper button:first-child {
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 30px;
  }

  .contact-circle {
    margin-left: 0;
  }
  
  .contact-subtitle {
    font-size: 18px;
  }
}