.box-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.box-title {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;

  color: #3f3f3f;
  margin-bottom: 12px;
}

.card-wrapper {
  padding: 0px 70px;
}

.box-image {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}


@media only screen and (max-width: 1200px) {
  .box-container {
    flex-direction: column;
  }
}