.product-image {
  width: 125px;
  height: 172px;
  margin: auto;
}

.product-image-wrapper {
  padding: 85px 0px;
}

.carousel .control-dots .dot {
  background-color: black;
}


@media only screen and (max-width: 850px) {
  .product-image {
    max-height: 100px;
    margin: auto;
  }
}