.header-title {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;

  color: #FFFFFF;
}

.header {
  background-image: url("../../assets/header.jpg");
  max-height: 693px;
  padding: 130px 75px;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-social-media {
  display: block;
  margin: 42px auto;
  height: auto;
}

.header-text {
  margin-right: 20px;
}

.header-subtitle {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;

  color: #FFFFFF;
}

.header-button {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  border-width: 0px;

  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;

  color: #157599;
  margin: 0;
}

.header-button:hover {
  cursor: pointer;
}

.header-icon {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}

@media  (max-width: 850px) {
  .header-title {
    font-size: 30px;
  }

  .header-subtitle {
    font-size: 25px;
  }

  .header-button {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .header-subtitle {
    font-size: 18px;
  }

  .header-button {
    font-size: 12px;
  }
}