.footer-container {
  display: flex;
  min-height: 579px;
  background-color: #157599;
  padding: 0 160px;
  align-items: center;
}

.footer-section-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 350px;
}

.wider {
  flex: 1.5;
}

.footer-section-wrapper li {
  margin: 27px 0px;
  color: #FFFFFF;

  font-family: 'Roboto';
  font-weight: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}

.contact-wrapper {
  display: flex;
  margin-bottom: 18px;
}

.contact-icon {
  margin-right: 10px;
}

.contact-info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  color: #FFFFFF;
}

.footer-section-wrapper li:hover {
  font-weight: 500;
}

.footer-about-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 20px;

  color: #FFFFFF;
}

.footer-contact-container {
  margin-top: 40px;
}

.footer-about-text {
  margin: 36px 0 50px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;

  color: #FFFFFF;
}

.footer-logo {
  width: 126.79px;
  height: 117px;
}

.footer-social-media {
  display: inline;
  height: auto;
  width: 28px;
  margin-right: 51px;
}

.footer-about {
  margin-right: 122px;
  flex: 1.5;
}

@media only screen and (max-width: 1200px) {
  .footer-container {
    display: block;
    padding: 80px 180px 0px 180px;
  }

  .footer-about {
    margin-right: 0px;
    flex: 1;
  }
}