.footer-container {
  display: flex;
  align-items: center;
  min-height: 579px;
  background-color: #157599;
}

.footer-alignment {
  width: 90%;
  display: flex;
  margin: auto;
}

.footer-section-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px;
}

.wider {
  flex: 1.5;
}

.footer-section-wrapper li {
  margin-top: 27px;
  color: #FFFFFF;

  font-family: 'Roboto';
  font-weight: normal;
  font-weight: 300;
  font-size: 20px;
}

.contact-wrapper {
  display: flex;
  margin-bottom: 18px;
}

.contact-icon {
  margin-right: 10px;
}

.contact-info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;

  color: #FFFFFF;
}

.footer-section-wrapper li:hover {
  font-weight: 500;
}

.footer-about-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;

  color: #FFFFFF;
}

.footer-contact-container {
  margin-top: 27px;
}

.footer-about-text {
  margin: 36px 0 50px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;

  color: #FFFFFF;
}

.footer-logo {
  width: 126.79px;
  height: 117px;
}

.footer-social-media {
  display: inline;
  height: auto;
  width: 28px;
  margin-right: 51px;
}

.footer-about {
  flex: 1.5;
}

@media  (max-width: 1100px) {
  .footer-alignment {
    flex-direction: column;
  }

  .footer-about-text {
    font-size: 18px;
  }

  .footer-about-title {
    font-size: 24px;
  }

  .contact-info {
    font-size: 14px;
  }

  .contact-wrapper {
    align-items: center;
  }

  .footer-section-wrapper a {
    font-size: 16px;
  }

  .footer-social-media {
    height: auto;
    width: 20px;
  }
}