body {
  margin: 0;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: #F3F3F3;
}

.button {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  border-radius: 8px;
  padding: 16px 59px;
}

.button:hover {
  cursor: pointer;
  border-color: black;
  color: black;
}

.button-primary {
  background: #157599;
  border-width: 0;

  font-family: 'Quicksand';

  color: #FFFFFF;
}

.button-secondary {
  background: #FFFFFF;
  border: 3px solid #157599;

  color: #157599;
}

.button-small {
  font-size: 18px;
  padding: 10px 22px;
  border: 1px solid #157599;
}

.button-medium {
  font-size: 20px;
}

.button-large {
  font-size: 30px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
  border-bottom: 2px solid white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}